.container, .section {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
}

.section {
  width: 1400px;
}

.leftSection {
  flex: 1;
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.title {
  font-size: 74px;
}

.whatWeDo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.line {
  height: 5px;
}

.subtitle {
  color: #da4ea2;
}

.description {
  font-size: 24px;
  color: #d3d3d3;
}
