.container {
  display: flex;
  justify-content: center;
}

.section {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.links, .icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  height: 50px;
}

.listItem, .searchIcon, .button, .logo {
  cursor: pointer;
}

.searchIcon {
  width: 20px;
}
