.container, .section {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
}

.section {
  width: 1400px;
}


.leftSide {
  flex: 1;
  display: flex;
  align-items: center;
}

.rightSide {
  flex: 1;
}

.listItem{
  font-size: 90px;
  font-weight: bold;
  cursor: pointer;
  color: transparent;
  -webkit-text-stroke: 1px white;
  position: relative;
  &:after{
    content: attr(item-name);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
  }
  &:hover{
    &:after{
      animation: moveText 0.5s linear both;
      @keyframes moveText {
        to{
          width: 100%;
          color: #fff;
        }
      }
    }
  }
}
